html {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }
 

}